.informationContain {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  /* color: ${colors.primary}; */
  color: #FF6060;
}

.titleApartment, .locationApartment {
  margin: 0;
}

.containProfile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nameProfile {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  text-align: right;
  margin-right: 10px;
}

.avatarProfile {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.containTag {
  display: flex;
}

.tag {
  /* background: ${colors.primary}; */
  background: #FF6060;
  color: #fff;
  margin-right: 1em;
  padding: 0.3em 3em;
  border-radius: 1em;
}

.wrapperCollapse {
  display: flex;
  justify-content: space-between;
}

.wrapperCollapse > section {
  width: 45%;
}