.carouselApartment {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 415px;
  color: white;
  text-align: center;
}

.pictureApartment {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 415px;
  object-fit: cover;
  border-radius: 25px;
}

.carouselCommandes {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 415px;
  color: white;
  text-align: center;
}

.commandesButton {
  z-index: 2;
  width: 60px;
  height: 60px;
  border: none;
  background: initial;
  color: white;
  font-size: 4rem;
  margin: 0 10px;
  cursor: pointer;
}

.pagePicture {
  z-index: 2;
  align-self: flex-end;
  margin-bottom: 25px;
  color: white;
  font-weight: bold;
}

.informationContain {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  /* color: ${colors.primary}; */
  color: #FF6060;
}

.titleApartment, .locationApartment {
  margin: 0;
}

.containProfile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nameProfile {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  text-align: right;
  margin-right: 10px;
}

.avatarProfile {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.containTag {
  display: flex;
}

.tag {
  /* background: ${colors.primary}; */
  background: #FF6060;
  color: #fff;
  margin-right: 1em;
  padding: 0.3em 3em;
  border-radius: 1em;
}

.wrapperCollapse {
  display: flex;
  justify-content: space-between;
}

.wrapperCollapse > section {
  width: 45%;
}