.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  align-items: center;
}

.headerLogo {
  height: 70px;
}

.containNavigation {
  display: flex;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 425px) {
  .headerLogo {
    height: 40px;
  }
}